name: Windows Build

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  setup-windows:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

#      - name: Install MinGW and CMake (optional, already installed on GitHub runners)
#        shell: powershell
#        run: |
#            Set-ExecutionPolicy RemoteSigned -Scope CurrentUser
#            irm get.scoop.sh | iex
#            scoop install mingw cmake

      - name: Clone Raylib
        run: |
          git clone --branch 5.5 --depth 1 https://github.com/raysan5/raylib.git raylib
        shell: bash

      - name: Clone Googletest
        run: |
          git clone --branch v1.17.0 --depth 1 https://github.com/google/googletest.git tests/googletest
        shell: bash

      - name: Build Project
        run: |
          mkdir -p build
          cd build
          cmake -G "MinGW Makefiles" -DBUILD_TESTS=ON ..
          cmake --build .
        shell: bash

      - name: Run Unit Tests
        id: run_tests
        run: |
          mkdir -p build/test-results
          ./build/tests/RNGTests.exe --gtest_output=xml:build/test-results/RNGTests.xml
          echo "exit_code=$?" >> $GITHUB_OUTPUT
        shell: bash
        continue-on-error: true

      - name: Upload Test Results
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: build/test-results

      - name: Upload Test Report (PR Check)
        uses: dorny/test-reporter@v2
        with:
          name: RNGTests - PR Check
          path: build/test-results/*.xml
          reporter: github-pr-check

      - name: Upload Test Report (Summary)
        uses: dorny/test-reporter@v2
        with:
          name: RNGTests - Summary
          path: build/test-results/*.xml
          reporter: github-test-summary

      - name: Fail if tests failed
        if: ${{ steps.run_tests.outputs.exit_code != '0' }}
        run: |
          echo "Some tests failed!"
          exit 1

      - name: Upload built game
        uses: actions/upload-artifact@v4
        with:
            name: MyGame
            path: build/MyGame.exe
