name: Windows Build

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  setup-windows:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

#      - name: Install MinGW and CMake (optional, already installed on GitHub runners)
#        shell: powershell
#        run: |
#            Set-ExecutionPolicy RemoteSigned -Scope CurrentUser
#            irm get.scoop.sh | iex
#            scoop install mingw cmake

      - name: Clone Raylib
        run: |
          git clone --branch 5.5 --depth 1 https://github.com/raysan5/raylib.git raylib
        shell: bash

      - name: Build Project
        run: |
          mkdir -p build
          cd build
          cmake -G "MinGW Makefiles" ..
          cmake --build .
        shell: bash

      - name: Upload built game
        uses: actions/upload-artifact@v4
        with:
            name: MyGame
            path: build/MyGame.exe
